<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class"home_title">Write a Review about <%= @series[:title] %></h1>
<%= form_with(model: Review.new, url: reviews_path, data: { turbo: false } , local:true) do |form| %>
  <%= form.hidden_field :series_id, value: @series[:id] %>
  <%= form.text_area :content, placeholder: "Enter your review", class:"form_area" %>
  <div class="btn btn-primary" >
  <%= form.submit "Create Review", style: "border: none; background: none; background-color: none; color:#cfd8dd; letter-spacing: 2px" %>
  </div>
<% end %>
  </div>
</div>
<script type="text/javascript">
 function initializeModal() {
  const openModalButton = document.getElementById("openModalButton");
  const closeModalButton = document.querySelector("#myModal .close");

  openModalButton.addEventListener("click", function() {
    document.querySelector("#myModal").style.display = "block";
  });

  closeModalButton.addEventListener("click", function() {
    document.querySelector("#myModal").style.display = "none";
  });
}
</script>