<h1><%= @series[:title] %></h1>
<p><%= @series[:about] %></p>
<button id="openModalButton" onclick="initializeModal()" class="btn btn-primary">Add your Review</button>

<%= render 'shared/messages' %>
<%= render 'form' %>

<h2 class="reviews_title">Reviews:</h2>

<% @reviews.each do |review| %>
    <%= render(ReviewComponent.new(review, review.user_id), class: 'card-component') %>
<% end %>
